{% trans_default_domain 'FOSUserBundle' %}

<div class="col-md-4">
    <div class="account-wall">
        <form class="form-signin">
            <label for="username">{{ 'profile.show.username'|trans }}</label>
            <input id="username" name="username" type="text" class="form-control mb-2" value="{{ user.username }}" disabled="disabled">

            <label for="email">{{ 'profile.show.email'|trans }}</label>
            <input id="email" name="email" type="email" class="form-control mb-2" value="{{ user.email }}" disabled="disabled">
        </form>
    </div>
    <hr>
</div>